a.btn-large{
    height: 150px;
}

.btn-large i {
    font-size: 95px;
    line-height: 1.5;
}

.file-field{
    height: 150px;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
i {
    cursor :  pointer;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);



nav{
    background: #015D6D;
}

.page-footer{
    background: #015D6D;
}


body {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background: #f1f8e9;

}

h1, h2, h3 {
font-weight: lighter;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;

}
.isa_info {
   color: #00529B;
   background-color: #BDE5F8;
}
.isa_success {
   color: #4F8A10;
   background-color: #DFF2BF;
}
.isa_warning {
   color: #9F6000;
   background-color: #FEEFB3;
}
.isa_error {
   color: #D8000C;
   background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
   margin:10px 22px;
   font-size:2em;
   vertical-align:middle;
}